[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
cookiecutter = "*"
black = "*"
poetry = "*"
bumpversion = "*"
rope = "*"
twine = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.6"
